In [ ]:
#Sets are unorderd: They do not have positions for elements

In [6]:
#Type casting- List to Sets
movie=['Acquaman','Jason',2018,7.8]
movie_set=set(movie)
print(movie_set)

{'Acquaman', 2018, 7.8, 'Jason'}

In [8]:
#Set operations add()
setA ={'Banana', 'Orange','Mango'}
setA.add('Apple')
setA.add('Avocado')
print(setA)

{'Mango', 'Apple', 'Orange', 'Banana', 'Avocado'}

In [11]:
#Set operations remove() an element
setA ={'Banana', 'Orange','Mango'}
setA.remove('Banana')
print(setA)

{'Orange', 'Mango'}

In [13]:
#Set operations in- look for an element
setA ={'Banana', 'Orange','Mango'}
print('Mango' in setA)
print('Blueberry' in setA)

True
False

In [14]:
#Set operations ampersand
setA={'Onions','Tomatoes','Kales',300}
setB={'Kales','Leomon',300,}
setC=setA & setB
print(setC)

{300, 'Kales'}

In [15]:
#Set operations Union of sets
setA={'Onions','Tomatoes','Kales',300}
setB={'Kales','Leomon',300,}
setC=setA.union(setB)
print(setC)

{'Tomatoes', 'Kales', 'Leomon', 'Onions', 300}

In [16]:
#Set operations check if it is a subset
setA={'Onions','Tomatoes','Kales',300}
setB={'Kales',300}
print(setB.issubset(setA))

True